{% extends "layout.njk" %}



{%block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Conteudos</title>
{% endblock %}

{% block content %}

    <div class="bootcamps">
        
        {% for card in cards %}
            <div class="bootcamp" id="{{card.id}}">
                <span>{{card.number}}</span>
                <img src="{{card.src}}" alt="Logo {{card.id}}">
                <p>
                    <strong>{{card.strong}}</strong>
                    {{card.text}}
                </p>
            </div>
        {% endfor %}
            
    </div>
    <script src="/script.js"></script>
    
{% endblock %}
