{% extends "layout.njk" %}

{%block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{card.id}}</title>
{% endblock %}

{% block content %}
    
        <div class="modal ">
            <div class="modal-iframe">
                <iframe src="https://rocketseat.com.br/{{card.id}}" scrolling="auto" frameborder="0"></iframe>

                <a class="maximize">
                    <i class="material-icons">
                    open_in_full
                    </i>
                </a>
            

                <a class="close-modal">
                    <i class="material-icons">
                    close
                    </i>
                </a>

            </div>               

        </div>
        
    <script src="/script.js"></script>
{% endblock %}