@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: url(https://app.rocketseat.com.br/static/media/logo.0ae02df1.svg) no-repeat;
    background-size: 255px;
    background-position: bottom 5px left 20px;
    background-color: #282a36;
    
}

section h1 {
    font: Roboto;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;


    width: 500px;

    margin: 100px 600px;

}


header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
}
a {
    text-decoration: none;
}
.links {
    text-align: center;
}
.links a {
    color: #ffffff;
    
    text-transform: uppercase;
    margin: 0 15px;
    padding: 15px;

}

.links a:hover {
    color: #50fa7b;
    transition: color 200ms;
}
footer {
    max-width: 100vw;
    max-height: 100vh;
}

/* === SOBRE === */

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  20vh 40vh 10vh;

    grid-template-areas: "logo tecnologias"
                         "texto tecnologias"
                         " redes redes"             
    ;
}

.content img { /* logo */
    width: 100px;
    height: 100px;
    border: 3px solid rgb(113, 89, 193);
    border-radius: 50%;

    grid-area: logo;
    margin: 20px;
}
.text { /* texto */
    margin: 20px;
    grid-area: texto; 
}

.text h1 {
    padding-bottom: 20px;
    font-size: 50pt;
}
.text p {
    text-align: justify;
    font-weight: 300;
    line-height: 20pt;

}

.principais-tecnologias { /*tecnologias*/
    grid-area: tecnologias;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}

.principais-tecnologias h2 {
    font-weight: 400;
    font-size: 30pt;
    
}
.content .principais-tecnologias ul {
    margin-top: 40px;
    width: 32vw;
}
.content .principais-tecnologias li{
    list-style-position: inside;
    list-style-type: none;

    text-transform: uppercase;
    font-weight: 300;

    padding: 7px;
    text-align: center;

    transition: all 1s;
}
.content .principais-tecnologias li:hover{
    background-color: rgba(0, 0, 0, .2);

}

.redes {/* redes sociais */
    background-color: rgba(0, 0, 0, .2);
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes a i {
    font-size: 35px;
    padding: 25px;

    transition: all .5s;
}

.redes a i:hover {
    color: rgba(0, 0, 0, .5);
}
/* ===CONTEUDOS=== */

.bootcamps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100vw;
}

.bootcamp {
    background: url(https://app.rocketseat.com.br/static/media/FeaturedCardBg.40a7d53e.png);
    padding: 30px 18px;
    margin: 0 20px;

    height: 470px;
    width: 337px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;

    cursor: pointer;
    
}

.bootcamp span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 80px;
}

.bootcamp img {
    margin-bottom: 25px;
}

.bootcamp p {
    text-align: center;
    width: 237px;
    height: 78px;
}

.bootcamp p strong {
    color: #7159c1;
}

/* === MODAl === */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
}

 .modal {
    width: 50%;
    height: 60%;
    background-color: rgba(77, 77, 77, 0.808);

    position: relative;
    display: flex;
}

.modal.maximize {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
}


.modal .close-modal {
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal .maximize {
    color: black;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

/* === MODAL ACTIVE */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* iframe */

iframe {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10%;
    background-color: #fff;
}